- if @restaurants.any?
  - @restaurants.each do |restaurant|
    / %a(href="/restaurant/#{restaurant.id}")restaurant.name
    = link_to restaurant.name, restaurant_path(restaurant)
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}",restaurant_path(restaurant), method: :delete
    %p= restaurant.description
- else
  No restaurants yet

= link_to 'Add a new restaurant', new_restaurant_url
